.Container {
  display: grid;
  grid-template-rows: 70vh  50vw repeat(5, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.Dash__Hero {
  grid-row: 1;
  grid-column: 1 / -1;
  align-self: end;
}

.Dash__Search {
  margin-top: 15rem;
  grid-row: 1;
  grid-column: 4 / span 4;
  align-self: center;
  z-index: 9;
}

.Dash__Movies {
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  background-color: #f6f6f6;
}